# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
cache/
logs/

# Jupyter Notebook
*.ipynb*


.idea/markdown-exported-files.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/src.iml
.idea/vcs.xml
.idea/workspace.xml
.ipynb_checkpoints/
input_reader/__pycache__/
logs/model_huff/
logs/model_mbi_1_0/
logs/model_mbi_1_1/
models/__pycache__/
models/model_Huff/__pycache__/
models/model_MBI_v1_0/__pycache__/
models/model_MBI_v_1_1/__pycache__/model_MBI_v_1_1.cpython-35.pyc
simple_logging/__pycache__/
utils/__pycache__/
wdir
