[global]
cache_enabled = True
cache_input_data = True
single_store =

[parallel]
cpu_count = 100
chunk_size = 50

[parameters]

# LAT
slope_lat = 12
# RLAT
slope_rlat_M = -0.17
slope_rlat_REST = -0.17
# FZ
fahrzeit_cutoff = 5

[parameter_sweep]
slope_lat = [12, 14, 16, 20]
slope_rlat_M = [-0.5, -1.0, -1.5, -2.0, -4]
slope_rlat_REST = [-0.35]
fahrzeit_cutoff = [0, 7, 10, 15, 20]


[inputdata]

stores_cm = /userdata/pmavrodi/Projekte/Stao/input/stores_sm_cleaned.csv
drivetimes = /userdata/pmavrodi/Projekte/Stao/input/drivetimes_sm.csv
haushalt = /userdata/pmavrodi/Projekte/Stao/input/STATPOP2014_HH_full.csv
referenz_ergebnisse = /userdata/pmavrodi/Projekte/Stao/input/Referenzen_Resultate.csv

[cache_config]

cache_dir = /userdata/pmavrodi/Projekte/Stao/src/cache/model_mbi_1_0
stores_cm_cached = stores_sm.pkl
stores_cm_migros_only_cached = stores_sm_migros.pkl
drivetimes_cached = drivetimes.pkl
haushalt_cached = haushalt.pkl

[output]
output_csv = /userdata/pmavrodi/Projekte/Stao/output/model_mbi_1_0/2017-06-11-RLAT_M/umsatz_potential_pd.txt
